.card-1 {
  border-top: 5px solid #ff4f64;
  height: 50vh;
  width: 40vw;
  border-radius: 12px;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  height: 50vh;
  width: 40vw;
  border-radius: 12px;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  height: 50vh;
  width: 40vw;
  border-radius: 12px;
}

.card-4 {
  border-top: 5px solid #fcc200;
  height: 50vh;
  width: 40vw;
  border-radius: 12px;
}

/* Write CSS code here. */
.header {
  padding-top: 20px;
}
.imggg {
  margin-left: 400px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-item {
  flex: 1;
  margin: 10px;
}
